.credential-pagination {
  margin-top: 30px;
}


.credential-contain {
  min-height: 350px;
}


.credential-card-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;

  .credential-card {
    margin: 0px 20px 20px 20px;
    border: 0px !important;

    .el-card__body {
      width: 250px !important;
    }
  }
}
