.login-back {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.login-head-link {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}


.login-card {
  width: auto;
  z-index: 100;
  margin-right: 15%;
  width: 377px;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 8px;

  .el-card__body {
    padding: 0px 20px 40px 20px !important;

    .el-form-item {
      margin: 30px 20px 0px 20px;

      .el-input {
        border: none !important;

        .el-input__wrapper {
          box-shadow: none;
          padding: 1px 0px;

          .el-input__inner {
            border: 0px !important;
            border-bottom: 1px solid #DCDFE6 !important;
          }
        }
      }
    }

    .login-kaptcha {
      margin-bottom: 0px;

      .el-form-item__content {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
}

.login-title-item {
  .el-form-item__content {
    justify-content: center;

    .form-title {
      color: #4c596b;
      font-size: 15px;
      line-height: 40px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}


.login-register-link {
  .el-form-item__content {
    justify-content: center;
  }
}

.login-submit {
  width: 100%;
  border-radius: 5px;
  background-color: #3ea3c6;
  border: 0;
  position: relative;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
}


.login-link {
  color: #8bc53e;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.login-forget {
  margin: 10px !important;

  .el-form-item__content {
    justify-content: flex-end;
  }
}

